<% for (const record of records) { %>

  <div class="card" style="width: 30%;">
    <img src="<%= record.img_url %>" class="card-img-top" alt="image of record">
    <div class="card-body">
      <a href="/myturntable/<%=record.id%>"><h6 class="card-title"><%= record.title %></h6></a>
      <p class="card-text"><%= record.artist_name %></p>
      <p class="card-text">$<%= record.price %>.00</p>
      <% if (record.sold === false) { %>
        <p class="record-available">Available</p>
        <% } %>

        <% if (record.sold === true) { %>
          <p class="record-sold">Sold</p>
          <% } %>
    </div>
  </div>

<% } %>
