<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advanced Search</title>
</head>
<body>
  <%- include('partials/_header') %>
  
  <h1>Advanced Search</h1>

  <h2>Filters</h2>
  <form action="/api/records/search" method="get">
    
    <label for="title">Title</label>
    <input type="text" id="title" name="title"><br>

    <label for="artist">Artist</label>
    <input type="text" id="artist" name="artist"><br>

    <label for="minPrice">Min Price</label>
    <input type="number" id="minPrice" name="minPrice"><br>

    <label for="maxPrice">Max Price</label>
    <input type="number" id="maxPrice" name="maxPrice"><br>

    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre"><br>

    <label for="availability">Availability</label><br>
    <input type="radio" name="availability" value="available" checked>Available<br>
    <input type="radio" name="availability" value="sold">Sold<br>
    <input type="radio" name="availability" value="both">Both<br>

    <input type="submit" value="Submit">
  </form>

  <% if(appliedFilters.length > 0) { %>
    <div style="outline: 2px solid black;">
      <h3>Applied Filters (<%= appliedFilters.length %>)</h3>
      
      <% for (const filter of appliedFilters) { %>
        <p><%= filter %></p>
      <% } %>
      
      <a href="/advanced_search">Clear Filters</a>
    </div>
  <% } %>

  <h2>Records (<%= records.length %>)</h2>
  
  <% if(records.length > 0) { %>
    <%- include('partials/_search_success.ejs') %>
  <% } %>

  <% if(records.length <= 0) { %>
    <%- include('partials/_search_success.ejs') %>
  <% } %>

</body>
</html>