<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/myturntable.css" />
    <title>My Turntable</title>
  </head>
  <body>
    <main>
      <section class="record">
        <% for(let record of records) { %>
        <div class="recordTitle">
          <h1>Record title: <%= record.title %></h1>
          <p><%= record.sold %></p>
        </div>
        <div class="recordArtist">
          <h2><%= record.artist_name %></h2>
          <button class="favourite">*</button>
        </div>
        <h3>Price: <%= record.price %></h3>
        <div class="recordInfo">
          <img src="<%= record.img_url %>" alt="" />
          <div>
            <p>Description: <%= record.description %></p>
            <p>Views: <%= record.listing_views %></p>
          </div>
        </div>
        <% } %>
      </section>
      <section class="comments">
        <form action="/myturntable/<%= records[0].id %>" method="POST">
          <label for="newComment">New Comment</label>
          <div class="commentBox">
            <input type="text" name="newComment" placeholder="Post a comment" />
            <button type="submit">Post</button>
          </div>
        </form>
        <% for(let count of countComments) { %>
        <h2>Comments (<%= count.count %>)</h2>
        <% } %> <% for(let comment of comments) { %>
        <div class="userComment">
          <h3><%= comment.username %></h3>
          <p><%= comment.description %></p>
        </div>
        <% } %>
      </section>
    </main>
    <footer>
      <a href="#">Contact Us</a>
      <a href="#">Terms Of Use</a>
    </footer>
  </body>
</html>
